<a href="https://colab.research.google.com/github/Mrkoi2002/AI/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
value1 = input ( 'Nhập vào số thứ nhất:')
value2 = input ('Nhập vào số thứ hai:')

Nhập vào số thứ nhất:7
Nhập vào số thứ hai:3

In [5]:
print(value1)

7

In [8]:
with open('text.txt',mode='w')as accounts:
  accounts.write('20146111 Nguyễn Phi Thắng 10\n')
  accounts.write('201461 Huỳnh Trọng Trí 6\n')
  accounts.write('201462 Thái Việt Cường 8\n')

In [15]:
with open('text1.txt',mode='w')as accounts:
  print('20146111 Nguyễn Phi Thắng', file = accounts)

In [58]:
with open('text2.txt',mode='c')as accounts:
  print(f"{'MSSV':<10}{'Name':<20}{'Score':>2}")
  for record in accounts:
    MSSV,Name,Score = record.split()
    print(f"{'MSSV':<10}{'Name':<20}{'Score':>2}")

ValueError: ignored

In [89]:
import pandas as pd
url='Danhsachsv2.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)
dataframe.iloc[0:10]

   No      MSSV                HVT Khoa  Điểm
0   1  20146111   Nguyễn Phi Thắng  CKM    10
1   2  19146111    Huỳnh Trọng Trí  CKM     7
2   3  21146111       Hồ Gia Trọng  CKD     6
3   4  18146111   Huỳnh Trọng Hùng  CKM     5
4   5  17146111      Nguyễn Gia Hy  CKM     7
5   6  20146110         Hồ Đăng Tú  CKD     9
6   7  21146110          Hồ Gia Tú  CKM     6
7   8  17146110        Lê Hữu Tuấn  CKM     7
8   9  18146110  Nguyễn Trọng Hùng  CKD     4
9  10  20147111  Nguyễn Ngọc Quyên  CKM     5

In [35]:
dataframe = dataframe.set_index(dataframe['HVT'])
dataframe.loc['Nguyễn Phi Thắng']

No                     1
MSSV            20146111
HVT     Nguyễn Phi Thắng
Khoa                 CKM
Điểm                  10
Name: Nguyễn Phi Thắng, dtype: object

In [71]:
dataframe[dataframe['Khoa'] =='CKM'].head(10)

                   No      MSSV                HVT Khoa  Điểm
HVT
Nguyễn Phi Thắng    1  20146111   Nguyễn Phi Thắng  CKM    10
Huỳnh Trọng Trí     2  19146111    Huỳnh Trọng Trí  CKM     7
Hồ Gia Trọng        3  21146111       Hồ Gia Trọng  CKM     6
Huỳnh Trọng Hùng    4  18146111   Huỳnh Trọng Hùng  CKM     5
Nguyễn Gia Hy       5  17146111      Nguyễn Gia Hy  CKM     7
Hồ Đăng Tú          6  20146110         Hồ Đăng Tú  CKM     9
Hồ Gia Tú           7  21146110          Hồ Gia Tú  CKM     6
Lê Hữu Tuấn         8  17146110        Lê Hữu Tuấn  CKM     7
Nguyễn Trọng Hùng   9  18146110  Nguyễn Trọng Hùng  CKM     4
Nguyễn Ngọc Quyên  10  20147111  Nguyễn Ngọc Quyên  CKM     5

In [51]:
dataframe[(dataframe['Khoa'] =='CKM')&(dataframe['HVT']=='Hồ Đăng Tú')]

            No      MSSV         HVT Khoa  Điểm
HVT
Hồ Đăng Tú   6  20146110  Hồ Đăng Tú  CKM     9

In [52]:
dataframe['Khoa'].replace('CKM','Cơ Khí Máy').head(10)

HVT
Nguyễn Phi Thắng     Cơ Khí Máy
Huỳnh Trọng Trí      Cơ Khí Máy
Hồ Gia Trọng         Cơ Khí Máy
Huỳnh Trọng Hùng     Cơ Khí Máy
Nguyễn Gia Hy        Cơ Khí Máy
Hồ Đăng Tú           Cơ Khí Máy
Hồ Gia Tú            Cơ Khí Máy
Lê Hữu Tuấn          Cơ Khí Máy
Nguyễn Trọng Hùng    Cơ Khí Máy
Nguyễn Ngọc Quyên    Cơ Khí Máy
Name: Khoa, dtype: object

In [54]:
dataframe.replace('CKM','Cơ Khí Máy').head(10)

                   No      MSSV                HVT        Khoa  Điểm
HVT
Nguyễn Phi Thắng    1  20146111   Nguyễn Phi Thắng  Cơ Khí Máy    10
Huỳnh Trọng Trí     2  19146111    Huỳnh Trọng Trí  Cơ Khí Máy     7
Hồ Gia Trọng        3  21146111       Hồ Gia Trọng  Cơ Khí Máy     6
Huỳnh Trọng Hùng    4  18146111   Huỳnh Trọng Hùng  Cơ Khí Máy     5
Nguyễn Gia Hy       5  17146111      Nguyễn Gia Hy  Cơ Khí Máy     7
Hồ Đăng Tú          6  20146110         Hồ Đăng Tú  Cơ Khí Máy     9
Hồ Gia Tú           7  21146110          Hồ Gia Tú  Cơ Khí Máy     6
Lê Hữu Tuấn         8  17146110        Lê Hữu Tuấn  Cơ Khí Máy     7
Nguyễn Trọng Hùng   9  18146110  Nguyễn Trọng Hùng  Cơ Khí Máy     4
Nguyễn Ngọc Quyên  10  20147111  Nguyễn Ngọc Quyên  Cơ Khí Máy     5

In [60]:
print('Điểm cao nhất',dataframe['Điểm'].max())

Điểm cao nhất 10

In [61]:
print('Điểm thấp nhất',dataframe['Điểm'].min())

Điểm thấp nhất 4

In [62]:
print('Điểm trung bình',dataframe['Điểm'].mean())

Điểm trung bình 7.1

In [63]:
print('Điểm tổng',dataframe['Điểm'].sum())

Điểm tổng 142

In [64]:
print('Điểm cao nhất',dataframe['Điểm'].count())

Điểm cao nhất 20

In [69]:
dataframe['Khoa'].unique()

array(['CKM'], dtype=object)

In [68]:
dataframe['Khoa'].value_counts()

CKM    20
Name: Khoa, dtype: int64

In [70]:
dataframe['Khoa'].unique()

array(['CKM'], dtype=object)

In [74]:
dataframe.drop('MSSV',axis=1).head(10)

                   No                HVT Khoa  Điểm
HVT
Nguyễn Phi Thắng    1   Nguyễn Phi Thắng  CKM    10
Huỳnh Trọng Trí     2    Huỳnh Trọng Trí  CKM     7
Hồ Gia Trọng        3       Hồ Gia Trọng  CKM     6
Huỳnh Trọng Hùng    4   Huỳnh Trọng Hùng  CKM     5
Nguyễn Gia Hy       5      Nguyễn Gia Hy  CKM     7
Hồ Đăng Tú          6         Hồ Đăng Tú  CKM     9
Hồ Gia Tú           7          Hồ Gia Tú  CKM     6
Lê Hữu Tuấn         8        Lê Hữu Tuấn  CKM     7
Nguyễn Trọng Hùng   9  Nguyễn Trọng Hùng  CKM     4
Nguyễn Ngọc Quyên  10  Nguyễn Ngọc Quyên  CKM     5

In [75]:
dataframe.drop(['MSSV','Khoa'],axis=1).head(10)

                   No                HVT  Điểm
HVT
Nguyễn Phi Thắng    1   Nguyễn Phi Thắng    10
Huỳnh Trọng Trí     2    Huỳnh Trọng Trí     7
Hồ Gia Trọng        3       Hồ Gia Trọng     6
Huỳnh Trọng Hùng    4   Huỳnh Trọng Hùng     5
Nguyễn Gia Hy       5      Nguyễn Gia Hy     7
Hồ Đăng Tú          6         Hồ Đăng Tú     9
Hồ Gia Tú           7          Hồ Gia Tú     6
Lê Hữu Tuấn         8        Lê Hữu Tuấn     7
Nguyễn Trọng Hùng   9  Nguyễn Trọng Hùng     4
Nguyễn Ngọc Quyên  10  Nguyễn Ngọc Quyên     5

In [76]:
dataframe.drop(dataframe.columns[2:4],axis=1).head(10)

                   No      MSSV  Điểm
HVT
Nguyễn Phi Thắng    1  20146111    10
Huỳnh Trọng Trí     2  19146111     7
Hồ Gia Trọng        3  21146111     6
Huỳnh Trọng Hùng    4  18146111     5
Nguyễn Gia Hy       5  17146111     7
Hồ Đăng Tú          6  20146110     9
Hồ Gia Tú           7  21146110     6
Lê Hữu Tuấn         8  17146110     7
Nguyễn Trọng Hùng   9  18146110     4
Nguyễn Ngọc Quyên  10  20147111     5

In [79]:
dataframe[dataframe['Khoa']!='CKM'].head(10)

Empty DataFrame
Columns: [No, MSSV, HVT, Khoa, Điểm]
Index: []

In [81]:
dataframe[dataframe['Điểm']!=5].head(10)

                   No      MSSV                HVT Khoa  Điểm
HVT
Nguyễn Phi Thắng    1  20146111   Nguyễn Phi Thắng  CKM    10
Huỳnh Trọng Trí     2  19146111    Huỳnh Trọng Trí  CKM     7
Hồ Gia Trọng        3  21146111       Hồ Gia Trọng  CKM     6
Nguyễn Gia Hy       5  17146111      Nguyễn Gia Hy  CKM     7
Hồ Đăng Tú          6  20146110         Hồ Đăng Tú  CKM     9
Hồ Gia Tú           7  21146110          Hồ Gia Tú  CKM     6
Lê Hữu Tuấn         8  17146110        Lê Hữu Tuấn  CKM     7
Nguyễn Trọng Hùng   9  18146110  Nguyễn Trọng Hùng  CKM     4
Hồ Hy Tú           11  16146110           Hồ Hy Tú  CKM     6
Lê Đặng Nam        12  19146110        Lê Đặng Nam  CKM     7

In [83]:
dataframe[dataframe.index!=4].head(10)

                   No      MSSV                HVT Khoa  Điểm
HVT
Nguyễn Phi Thắng    1  20146111   Nguyễn Phi Thắng  CKM    10
Huỳnh Trọng Trí     2  19146111    Huỳnh Trọng Trí  CKM     7
Hồ Gia Trọng        3  21146111       Hồ Gia Trọng  CKM     6
Huỳnh Trọng Hùng    4  18146111   Huỳnh Trọng Hùng  CKM     5
Nguyễn Gia Hy       5  17146111      Nguyễn Gia Hy  CKM     7
Hồ Đăng Tú          6  20146110         Hồ Đăng Tú  CKM     9
Hồ Gia Tú           7  21146110          Hồ Gia Tú  CKM     6
Lê Hữu Tuấn         8  17146110        Lê Hữu Tuấn  CKM     7
Nguyễn Trọng Hùng   9  18146110  Nguyễn Trọng Hùng  CKM     4
Nguyễn Ngọc Quyên  10  20147111  Nguyễn Ngọc Quyên  CKM     5

In [84]:
dataframe.drop_duplicates().head(10)

                   No      MSSV                HVT Khoa  Điểm
HVT
Nguyễn Phi Thắng    1  20146111   Nguyễn Phi Thắng  CKM    10
Huỳnh Trọng Trí     2  19146111    Huỳnh Trọng Trí  CKM     7
Hồ Gia Trọng        3  21146111       Hồ Gia Trọng  CKM     6
Huỳnh Trọng Hùng    4  18146111   Huỳnh Trọng Hùng  CKM     5
Nguyễn Gia Hy       5  17146111      Nguyễn Gia Hy  CKM     7
Hồ Đăng Tú          6  20146110         Hồ Đăng Tú  CKM     9
Hồ Gia Tú           7  21146110          Hồ Gia Tú  CKM     6
Lê Hữu Tuấn         8  17146110        Lê Hữu Tuấn  CKM     7
Nguyễn Trọng Hùng   9  18146110  Nguyễn Trọng Hùng  CKM     4
Nguyễn Ngọc Quyên  10  20147111  Nguyễn Ngọc Quyên  CKM     5

In [85]:
dataframe.groupby('Khoa').head(10)

                   No      MSSV                HVT Khoa  Điểm
HVT
Nguyễn Phi Thắng    1  20146111   Nguyễn Phi Thắng  CKM    10
Huỳnh Trọng Trí     2  19146111    Huỳnh Trọng Trí  CKM     7
Hồ Gia Trọng        3  21146111       Hồ Gia Trọng  CKM     6
Huỳnh Trọng Hùng    4  18146111   Huỳnh Trọng Hùng  CKM     5
Nguyễn Gia Hy       5  17146111      Nguyễn Gia Hy  CKM     7
Hồ Đăng Tú          6  20146110         Hồ Đăng Tú  CKM     9
Hồ Gia Tú           7  21146110          Hồ Gia Tú  CKM     6
Lê Hữu Tuấn         8  17146110        Lê Hữu Tuấn  CKM     7
Nguyễn Trọng Hùng   9  18146110  Nguyễn Trọng Hùng  CKM     4
Nguyễn Ngọc Quyên  10  20147111  Nguyễn Ngọc Quyên  CKM     5

In [90]:
dataframe.groupby('Khoa').count()

      No  MSSV  HVT  Điểm
Khoa
CKD    5     5    5     5
CKM   15    15   15    15

In [91]:
dataframe.groupby(['Khoa','Điểm']).count()

           No  MSSV  HVT
Khoa Điểm
CKD  4      1     1    1
     6      2     2    2
     7      1     1    1
     9      1     1    1
CKM  5      3     3    3
     6      1     1    1
     7      5     5    5
     8      2     2    2
     9      2     2    2
     10     2     2    2

In [92]:
dataframe.groupby('Khoa')['Điểm'].count()

Khoa
CKD     5
CKM    15
Name: Điểm, dtype: int64

In [97]:
from pandas.core.indexes import period
import pandas as pd
import numpy as np
time_index = pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess_Amount'] = np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14402
2023-01-08        100454
2023-01-15        100608
2023-01-22        100665
2023-01-29        100247
2023-02-05         82530

In [98]:
dataframe.resample('2W').mean()

            Acess_Amount
2023-01-01      5.000694
2023-01-15      4.986657
2023-01-29      4.982937
2023-02-12      5.007888

In [99]:
dataframe.resample('M').mean()

            Acess_Amount
2023-01-31      4.987914
2023-02-28      4.998601

In [120]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.head(2313)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [124]:
data[(data['Event'] =='individual')&(data['Medal']=='Gold')&(data['Sport']=='Skating')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
44,1924,Chamonix,Skating,Figure skating,SWE,individual,M,Gold
62,1928,St. Moritz,Skating,Figure skating,NOR,individual,W,Gold
79,1928,St. Moritz,Skating,Figure skating,SWE,individual,M,Gold
90,1932,Lake Placid,Skating,Figure skating,AUT,individual,M,Gold
106,1932,Lake Placid,Skating,Figure skating,NOR,individual,W,Gold
133,1936,Garmisch-Partenkirchen,Skating,Figure skating,AUT,individual,M,Gold
154,1936,Garmisch-Partenkirchen,Skating,Figure skating,NOR,individual,W,Gold
194,1948,St. Moritz,Skating,Figure skating,CAN,individual,W,Gold
246,1948,St. Moritz,Skating,Figure skating,USA,individual,M,Gold
273,1952,Oslo,Skating,Figure skating,GBR,individual,W,Gold
311,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
386,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold
388,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,W,Gold
462,1960,Squaw Valley,Skating,Figure skating,USA,individual,M,Gold
464,1960,Squaw Valley,Skating,Figure skating,USA,individual,W,Gold
491,1964,Innsbruck,Skating,Figure skating,EUA,individual,M,Gold
517,1964,Innsbruck,Skating,Figure skating,NED,individual,W,Gold
577,1968,Grenoble,Skating,Figure skating,AUT,individual,M,Gold
674,1968,Grenoble,Skating,Figure skating,USA,individual,W,Gold
680,1972,Sapporo,Skating,Figure skating,AUT,individual,W,Gold
759,1972,Sapporo,Skating,Figure skating,TCH,individual,M,Gold
812,1976,Innsbruck,Skating,Figure skating,GBR,individual,M,Gold
887,1976,Innsbruck,Skating,Figure skating,USA,individual,W,Gold
921,1980,Lake Placid,Skating,Figure skating,GBR,individual,M,Gold
934,1980,Lake Placid,Skating,Figure skating,GDR,individual,W,Gold
1047,1984,Sarajevo,Skating,Figure skating,GDR,individual,W,Gold
1119,1984,Sarajevo,Skating,Figure skating,USA,individual,M,Gold
1171,1988,Calgary,Skating,Figure skating,GDR,individual,W,Gold
1257,1988,Calgary,Skating,Figure skating,USA,individual,M,Gold
1307,1992,Albertville,Skating,Figure skating,EUN,individual,M,Gold
1428,1992,Albertville,Skating,Figure skating,USA,individual,W,Gold
1573,1994,Lillehammer,Skating,Figure skating,RUS,individual,M,Gold
1605,1994,Lillehammer,Skating,Figure skating,UKR,individual,W,Gold
1789,1998,Nagano,Skating,Figure skating,RUS,individual,M,Gold
1815,1998,Nagano,Skating,Figure skating,USA,individual,W,Gold
1998,2002,Salt Lake City,Skating,Figure skating,RUS,individual,M,Gold
2037,2002,Salt Lake City,Skating,Figure skating,USA,individual,W,Gold
2190,2006,Turin,Skating,Figure skating,JPN,individual,W,Gold
2241,2006,Turin,Skating,Figure skating,RUS,individual,M,Gold

In [134]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.head(2313)
data=data[(data['NOC'] =='USA')]
print("Số huy chương của USA:",data['Medal'].count())
data=data[(data['Event'] =='individual') & (data['Medal']=='Gold')] 
print("Số huy chương chương vàng theo môn thi cá nhân:",data['Event'].count())

Số huy chương của USA: 216
Số huy chương chương vàng theo môn thi cá nhân: 16